<%= render 'fight_parses/shared/new_header', {active_tab: @tab} %>
<div class="container">
  <%= render 'fight_parses/shared/section', 
    {
      title: 'Cooldown Timings',
      desc: 'Do your best to line up cooldowns to maximize DPS.',
      sub_bar_type: 'cooldown',
      sub_bars: @fp.cooldown_timeline_bars,
    } 
  %>
  
</div>
<%= render 'fight_parses/shared/js', {tab: 'cooldowns'} %> 
<script>
  $(['heal-w', 'incarnation-w']).each(function(index, key){
    resizeBars(key)
  });
</script>

