<%= render 'fight_parses/shared/new_header', {active_tab: @tab} %>
<div class="container">
  <%= render 'fight_parses/shared/casts_table', 
    {
      title: 'Cast Efficiency',
      desc: "These are your key spells that should be cast as often as possible. Make sure you are casting them on cooldown. Your cast score is determined by a weighted average, with more emphasis placed on abilities with longer cooldown times.#{@fp.talent(5) == 'Shadow Infusion' ? " Shadow Infusion reduced Dark Transformation's cooldown by a total of #{@fp.kpi_hash[:deathcoil_reductions]} seconds." : ''}",
      label: (@fp.kpi_hash[:casts_score].to_i >= 95 ? 'good' : @fp.kpi_hash[:casts_score].to_i >= 85 ? 'ok' : 'bad'),
      casts_score: @fp.kpi_hash[:casts_score],
      spells: @fp.track_casts.each.map{|key, hash| 
        {
          label: key,
          casts: (@fp.casts_hash[key] || []),
          max_casts: @fp.casts_possible(hash),
          cd: hash[:cd],
          optional: hash[:optional]
        }
      }
    } 
  %>
</div>
<%= render 'fight_parses/shared/js', {tab: 'casts'} %> 
