<div class="container">
  <%= render 'fight_parses/shared/header', {active_tab: @tab, show_hp: true} %>
  <br /><br />
  <%= render 'fight_parses/shared/section', 
    {
      title: 'Time not Pain-Capped',
      desc: 'The percent of the fight that you had less than max Pain. Aim for 100%.',
      white_bar: true,
      main_bar_width: bar_width(@fp.fight_time - @fp.resources_hash[:capped_time].to_i, @fp.fight_time),
      main_bar_text: "#{@fp.fight_time - @fp.resources_hash[:capped_time].to_i}s",
      main_text: "#{@fp.fight_time - @fp.resources_hash[:capped_time].to_i}s / #{@fp.fight_time}s",
    } 
  %>
  <%= render 'fight_parses/shared/section', 
    {
      title: 'Pain Gained',
      desc: 'Avoid overcapping Pain by not using Pain-generating abilities that would put you over the maximum amount.',
      white_bar: true,
      main_bar_width: bar_width(@fp.resources_hash[:pain_gain].to_i, @fp.resources_hash[:pain_gain].to_i + @fp.resources_hash[:pain_waste].to_i),
      main_bar_text: "#{@fp.resources_hash[:pain_gain].to_i}/#{@fp.resources_hash[:pain_gain].to_i + @fp.resources_hash[:pain_waste].to_i}",
      main_text: "#{@fp.resources_hash[:pain_waste].to_i} wasted",
      sub_bars: @fp.resources_hash[:pain_abilities].nil? ? nil : @fp.resources_hash[:pain_abilities].values.sort{|a, b| (b[:gain].to_i + b[:waste].to_i) <=> (a[:gain].to_i + a[:waste].to_i)}.map{|item| 
        {
          label: item[:name],
          white_bar: true,
          bar_key: 'pain-w',
          val: item[:gain].to_i + item[:waste].to_i,
          width: bar_width(item[:gain].to_i, item[:gain].to_i + item[:waste].to_i),
          text: "#{item[:gain].to_i}/#{item[:gain].to_i + item[:waste].to_i}",
          sub_text: "#{item[:waste].to_i} wasted",
        }
      },
    } 
  %>
</div>
<%= render 'fight_parses/shared/js', {tab: 'resources'} %> 
<script>
    $(['cd-w', 'pain-w']).each(function(index, key){
    resizeBars(key)
  });
</script>