<div class="container" style="margin-top: 50px">
  <h3>What does this site do?</h3>
  <p>This site is made for World of Warcraft players who want to improve by tracking their performance across raid encounters, based on key metrics for their spec.</p>
  <p>It is designed primarily for those who want to improve their basic rotation. It probably will not provide enough information to be useful to advanced players who are already very comfortable with their classes and are now trying to maximize their output.</p>
  <p>This site also will not try to give a detailed overview of each fight's mechanics, as there are multiple other sites designed for that purpose. The goal instead is to distill the logs to a small amount of information about your general execution, which can then be easily tracked and compared across multiple attempts.</p>
  <p>All log information is taken from the <a href="http://www.warcraftlogs.com" target="_blank">Warcraft Logs</a> public API, so you must create a WCL account and upload your logs there first, before importing them to this site.</p>

  <h3>How do I use this site?</h3>
  <p>You can enter a Warcraft Logs report ID to import a log directly, and then request individual encounters to be processed.</p>
  <p>Please note that the log analysis runs on a queue, so it may take a few minutes for this to finish.</p>
  <h4 style="margin-top: 20px">Viewing by character</h4>
  <p>Once you have processed a few logs, you can search for characters by name, and browse all of the fights recorded for that character in one place.</p>
  <p>Multiple reports for the same boss will be shown together, so that you can compare your performance across attempts and see your improvement over time.</p>
  
</div>