<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3>Ending Active Development</h3>
      <p>This is a hard announcement to make, but I have made the decision to stop actively developing Check My Wow. I want to thank everyone who has supported the site so far and helped me bring it to where it is today. I had a great time working with all of you, and am very proud of what this site has been able to accomplish.</p>

      <p>tl;dr: I love Check My Wow, but you should use <a href="https://wowanalyzer.com">WoW Analyzer</a> because it will improve faster than this site can. 

      <h3>A Brief History</h3>
      <p>Back in Highmaul I was a terrible Brewmaster, but I wanted to get better. I read every resource I could find, compiled a list of the most important things to check for in Warcraft Logs, and would update a spreadsheet every raid night to track my improvement in those areas. This was tedious work and Warcraft Logs had just released an API to access its data, so I started working on a web app that could do the calculations and record-keeping for me. This marked the beginning of Brewmaster Logs, an analysis site exclusively for Brewmasters.</p>
      <p>The site got a little bit of attention, and Babylonius of the Windwalker community contacted me to see if I could develop a similar tool for Windwalkers. The next logical step was to aim to support all classes, and while this was a daunting task I decided to give it a shot. I realized that 80% of the "please check my logs" threads on forums could be answered by checking for simple things like buff uptimes and missed casts, and that most people just weren’t sure what to look for. I imagined that even by checking just a few important points, a tool like this could benefit a great number of people. I registered the checkmywow.com domain in August of 2015, and over the next 2 years it processed nearly 1 million fights.</p>

      <h3>Why End Here?</h3>
      <p>Supporting all 36 specs was already a huge task, but Legion's release made it much more difficult. While previous expansions had largely set rotations aside from certain talents and gear bonuses, Legion introduced artifact traits, legendaries, and interesting talent choices for many specs. These all created more dynamic gameplay (which is a good thing), but made analysis difficult. I simply can't keep up with the amount of detail and nuance that is needed for each spec to make the analysis correct. Check My Wow is certainly still usable for the specs that it supports, but I decided to close this now rather than wait for it to become out of date, because providing wrong information is more harmful than providing no information.</p>

      <h3>Going Forward</h3>
      <p>One factor that makes my decision easier is the emergence of <a href="https://wowanalyzer.com">WoW Analyzer</a>. This is an open-source site with dedicated contributors maintaining each spec, and they have a great community that has been consistently improving the quality of the site's analysis. It really takes a lot of focused attention and effort to do a proper analysis for any of the specs in the game now, and a team of people should be able to do a much better job than I could on my own. I believe that Wow Analyzer will continue to improve and become a better resource, and I want to encourage people to join that community and contribute in whatever way they can.</p>
      <p>Check My Wow will continue to run normally for a while, but I will eventually disable parsing for new fights.</p>

      <h3>Some Last Thoughts</h3>
      <p>I got a lot of help from a lot of people while building this site, and I want to thank all of you again for your invaluable support.</p>
      <p>While I am sad to put an end to this project, I am also very proud of what it has accomplished. When I first launched the site, I don’t think there were other log analysis sites like it. I created it with the belief that an automatic analysis site would be a huge asset to the WoW community, and I think this vision has been realized with tremendous success. Terms like "cast efficiency" are now regularly used in conversation, and there have been more and more targeted analysis sites being made. I'd like to think that Check My Wow played a part in pushing this trend, and I hope it has made a lasting positive impact on the community. I am excited to see how this community and its tools will continue to grow, so that we can all continue to enjoy this great game.</p>
      <p> <3 </p>
      
    </div>
  </div>
</div>