<%= render 'fight_parses/shared/new_header', {active_tab: @tab} %>
<div class="container">
  <%= render 'fight_parses/shared/section', 
    {
      title: 'Damage per Second',
      desc: 'Total damage / Fight time.',
      light_bar_width: bar_width(@fp.dps, @fp.max_basic_bar),
      main_bar_width: bar_width(@fp[:kpi_hash][:player_damage_done].to_i, @fp[:kpi_hash][:player_damage_done].to_i + @fp[:kpi_hash][:pet_damage_done].to_i), 
      main_bar_text: "#{@fp.dps}/s",
      main_text: "#{(@fp[:kpi_hash][:player_damage_done].to_i + @fp[:kpi_hash][:pet_damage_done].to_i) / 1000}k total damage (#{@fp[:kpi_hash][:pet_damage_done].to_i / 1000}k pet)"
    } 
  %>
  <% if @kpi_parses.has_key?('death') && @kpi_parses['death'].kpi_hash[:death_count].to_i > 0 %>
    <%= render 'fight_parses/shared/deaths', 
      {
        deaths: @kpi_parses['death'].details_hash[:deaths],
      } 
    %>
  <% end %>
</div>
<%= render 'fight_parses/shared/js', {tab: 'basic'} %> 