<%= render 'fight_parses/shared/new_header', {active_tab: @tab} %>
<div class="container">
  <% percent = 100 * (@fp.fight_time - @fp.resources_hash[:abc_wasted].to_f) / @fp.fight_time %>
  <%= render 'fight_parses/shared/table', 
    {
      title: 'Always Be Casting (Experimental)',
      desc: 'You should do your best to minimize downtime without casts (although 100% is unrealistic), by starting casts directly after the previous cast has finished, and by filling your GCDs with instant casts while moving. This section shows how much downtime you had over the course of the fight. The dropdown list shows cancelled casts, as well as periods of downtime that lasted more than 1 second.',
      white_bar: true,
      main_bar_width: percent,
      main_bar_text: "#{@fp.fight_time - @fp.resources_hash[:abc_wasted].to_f}/#{@fp.fight_time}",
      main_text: "#{@fp.resources_hash[:abc_wasted]} seconds of downtime",
      dropdown: {id: 'abc'},
      labels: ['Time', 'Spell', 'Downtime before cast'],
      rows: @fp.resources_hash[:abc_fails].nil? ? nil : @fp.resources_hash[:abc_fails].map{|row| [{value: @fp.event_time(row[:timestamp], true)}, {value: row[:name]}, {value: (row[:cancelled] ? "Cast cancelled" : "#{row[:wasted]} seconds")}]},
    } 
  %>
  
</div>
<%= render 'fight_parses/shared/js', {tab: 'resources'} %> 